* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*css del header*/
body {
    font-family: "coolvetica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.875rem; /* Aproximadamente 30px */
    color: #ffffff;
    letter-spacing: 0.063rem; /* Aproximadamente 1px */
    border-radius: 1.875rem; /* Aproximadamente 30px */
    text-decoration: none;
}






header {
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
    margin-top: 1%;
   
}


.header-left{
    margin-left: -2%;


}


.header-logo {
    height: 8vw; /* La altura se adapta al ancho de la pantalla */
    margin-top: 4%;
    margin-bottom: 1%;;
    transition: .3s ease;
}


.header-logo:hover {
    transform: scale(1.05);
}


.header-right {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: black;
    z-index: 10;
    border-radius: 2em;
    height: 3vw;
    width: 90%;
    padding: 0.3em ;
    padding-right: 0.9em;
    margin-right: 5%;
    margin-left: 3%; /*agregar al de admin*/
}


.sub-menu-header {
    display: none;
    position: absolute;
    top: 118%; /* Coloca el submenú justo debajo de "EVENTOS" */
    left: 50%; /* Alinea el submenú al centro de "EVENTOS" */
    transform: translateX(-51%); /* Centra el submenú */
    background-color: #000000;
    padding: 0.9375rem 1.25rem;
    width: 16.25rem;
    border-radius: 1.875rem;
    text-align: center;
    border-color: rgb(233, 222, 255);
    border-style: solid;
    border-width: 0.3125rem;
   


}


.header-right a {
    padding: 0 1.5vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-content: center;
    font-family:  "coolvetica", sans-serif;
    font-size: 1.100em;
    font-weight: 700;
    letter-spacing: 0.063rem;
    border-radius: 1.875rem;
    transition: color .2s ease, transform .3s ease-out;
}


.header-right a:hover {
    color: #cccccc;
    transform: scale(1.03);
}




/* Estilo de los enlaces del menú */
.opciones-menu-header {
    padding-left: 0.8rem ;
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-content: center;
    font-family:  "coolvetica", sans-serif;
    font-size: 1.020em;
    font-weight: 700;
    letter-spacing: 0.063rem;
    border-radius: 1.875rem;
    transition: color .2s ease, transform .3s ease-out;
    list-style: none;
}


.opciones-menu-header:hover{
    color: #cccccc;
    transform: scale(1.03);
}
.opciones-menu-header .enlace-menu-header {
    color: white;
    text-decoration: none;
}


.opciones-menu-header .enlace-menu-header:hover {
    color: #cccccc;
    transform: scale(1.03);
    display: inline-block;
    transition: color .2s ease, transform .3s ease-out;
}




/* mostrar submenú al pasar el cursor ???*/
.opciones-menu-header:hover .sub-menu-header {
    display: block;
   
}


.opciones-submenu-header {
    padding: 10px 0px;
    color: #ffffff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;


}


.opciones-submenu-header:hover {
    color: #cccccc;
    transform: scale(1.03);
}


/* estilo de barra de búsqueda */
.search {


    width: 12.5;
    display: flex;
    align-items: center;
    padding: 0.1em ;
    border-radius: 2em;
    background: #000000;
    transition: box-shadow 0.25s;
    padding-left: 1.875rem;
}


.search-input {
    font-family: "coolvetica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.875rem;
    color: #ffffff;
    letter-spacing: 0.063rem;
    margin-left: 1rem;
    margin-right: 2rem;
    margin: 0.6rem;
    text-align: center;


    outline: none;
    border: none;
    background: transparent;
    width: 9vw;
    flex: 1;
}
.search-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}




/*fin


css del header*/


/* Estructura principal */
p{
    font-family: "coolvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: #ffffff;
    letter-spacing: 1px;
}


.contenedor-fondo{
    
    align-self: center;
    align-content: center;
    position: relative;
    height: 100vh;
    display: flex;
    
}


/* Estilos de la barra lateral */

.main-content{
    
    display: flex;
    
}


.contenedor-menu{
    box-sizing: border-box;
    max-width: 75%;
    height: 70%;
    margin: 4rem 1rem;
    margin-bottom: 2%;
    padding: 2%;
    border: #000000;
    border-radius: 1.875rem;
    align-items: center;
    text-align: center;
    position: relative;
    top: -5%;
    display: inline-block;
    background-color: #000000
}


.nombre-y-foto{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}


.opciones-menu{
    position: relative;
    top: 3%;
}


.opciones-menu a {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    top: 10%;
    font-size: 80%; /************************************************************/
    font-weight: 400;
    color: #ffffff;
    background-color:rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    align-content: center;
    margin-left: 0;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: none;
    padding: 5% 5%;
    transition: .5s;
}


.opciones-menu a:hover{
    font-size: 1em;
    font-weight: 410;
}


.opciones-menu a span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;    
    opacity: 0;
    transform: scale(0) translateY(50px);
    transition: .8s;
}


.opciones-menu a:hover span{
    transform: scale(1) translateY(0px);
    opacity: 0.5;
}




/* Estilos de los eventos */
.event-container {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    padding: 2rem;
    margin-top: 0; /* O ajusta el valor */
    position: relative;
    top: 0; /* Ajusta según necesites */
    
}

.event-card {
    background-color: #000000;
    padding: 2rem;
    border-radius: 1rem;
    width: 45%;
    height: 40rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.event-image img{
    width: 28.5rem;
    height: 20rem;
    border-radius: 1rem;
    margin: 0 auto 1rem auto; /* Esto centra la imagen */
}

.event-card h3{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 0;
    position: relative;
    top: -1.8rem;
}

.event-card p {
    text-align: left;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-top: 0;
    position: relative;
    top: -2rem;
}

.event-card .event-image {
    
    width: 80%;
    height: 20rem;
    background-color: #000000;
    margin: 0 auto 1rem auto; /* Esto centra la imagen */
    border-radius: 1rem;
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-weight: bold;
}

.button-left, .button-right {
    padding: 0.3rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

.button-left {
    background-color: #ffffff;
}

.button-right {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.event-card p span {
    margin-left: 0.5rem;
}



/*footer*/

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-top: 1px solid #444;
    font-family: 'Coolvetica', Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-left .footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.footer-center a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-center a:hover {
    text-decoration: underline;
}

.footer-right a {
    color: #ffffff;
    background-color: #444;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-right a:hover {
    background-color: #333;
}

.footer-bottom {
    border-top: 1px solid #444;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

/*fondo*/

/* FONDO */
@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(338, 100%, 91%, 1);
        --y-0: 80%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --x-0: 85%;
        --c-1: hsla(285, 100%, 86%, 1);
        --y-1: 24%;
        --x-1: 60%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-2: 82%;
        --x-2: 13%;
        --s-start-2: 5%;
        --s-end-2: 52%;
        --c-2: hsla(261, 100%, 87%, 1);
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 24%;
        --y-3: 7%;
        --c-3: hsla(229, 100%, 83%, 1);
        --s-start-4: 13%;
        --s-end-4: 68%;
        --x-4: 24%;
        --y-4: 7%;
        --c-4: hsla(214, 100%, 78%, 1);
    }

    100% {
        --c-0: hsla(0, 100%, 86%, 1);
        --y-0: 94%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --x-0: 31%;
        --c-1: hsla(219.99999999999997, 100%, 89%, 1);
        --y-1: 25%;
        --x-1: 2%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-2: 20%;
        --x-2: 98%;
        --s-start-2: 5%;
        --s-end-2: 52%;
        --c-2: hsla(87.35294117647075, 100%, 85%, 1);
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 95%;
        --y-3: 92%;
        --c-3: hsla(182, 0%, 100%, 1);
        --s-start-4: 13%;
        --s-end-4: 68%;
        --x-4: 95%;
        --y-4: 92%;
        --c-4: hsla(0, 100%, 86%, 1);
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(338, 100%, 91%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(285, 100%, 86%, 1)
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(261, 100%, 87%, 1)
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(229, 100%, 83%, 1)
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(214, 100%, 78%, 1)
}

body {
    --c-0: hsla(338, 100%, 91%, 1);
    --y-0: 80%;
    --x-0: 85%;
    --c-1: hsla(285, 100%, 86%, 1);
    --y-1: 24%;
    --x-1: 60%;
    --y-2: 82%;
    --x-2: 13%;
    --c-2: hsla(261, 100%, 87%, 1);
    --x-3: 24%;
    --y-3: 7%;
    --c-3: hsla(229, 100%, 83%, 1);
    --x-4: 24%;
    --y-4: 7%;
    --c-4: hsla(214, 100%, 78%, 1);
    ;
    background-color: hsla(358, 0%, 100%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}
