body {
    font-family: "coolvetica", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;

}

.header-usuario {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    gap: 30px;
}

.logo {
    margin-right: auto;
    padding-top: 15px;
}

.nav-usuario {
    flex-grow: 1;
    display: flex; 
    justify-content: center; 
}

.opciones-principales {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin-right: 15%;
}

/* Estilo de los enlaces del menú */
.opciones-menu {
    position: relative;
    padding: 10px 30px;
    background: #000000;
    border-radius: 30px;
    text-align: center;
}

.enlace-menu {
    color: #ffffff;
    text-decoration: none;
    

}

.sub-menu {
    display: none;
    position: absolute;
    top: 105%; /* para que aparezca debajo de "EVENTOS" */
    left: 0;
    transform: translateX(-30px);
    background-color: #000000;
    padding: 25px 0;
    width: 250px;
    border-radius: 30px;
}

/* mostrar submenú al pasar el cursor */
.opciones-menu:hover .sub-menu {
    display: block;
}

.opciones-submenu {
    padding: 10px 30px;
    color: #ffffff;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: color 0.8s;
}

.opciones-submenu:hover {
    background-color: rgb(78, 78, 78);
    transition: 0.5s;
}

/* estilo de barra de búsqueda */
.search {

    width: 200px;
    display: flex;
    align-items: center;
    padding: 11px 50px;
    border-radius: 30px;
    background: #000000;
    transition: box-shadow 0.25s;
    padding-left: 30px;
}

.search-input {
    font-family: "coolvetica", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 40px;
    outline: none;
    border: none;
    background: transparent;
    width: 150px;
    flex: 1;
}
.search-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/*fin header*/







/* footer */
footer {
    background-color: #ffffff;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: 1000;
    border-top: 1px solid #000000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left .logo {
    background-color: #222;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.footer-center a {
    color: rgb(0, 0, 0);
    margin: 0 15px;
    text-decoration: none;
}

.footer-center a:hover {
    text-decoration: underline;
}

.footer-right a {
    color: rgb(255, 255, 255);
    background-color: #666;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    text-decoration: none;
}

.footer-right a:hover {
    background-color: #555;
}

.footer-bottom {
    border-top: 1px solid #000000;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 12px;
    color: #000000;
}

.footer-bottom p {
    margin: 0;
    text-align: right;
}

.footer-left img.footer-logo {
    height: 150px;
    width: auto;
    display: block;
}

