body {
    font-family: "coolvetica", sans-serif;
    font-weight: 400;
    font-size: 1.200rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.063rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #81ecec, #74b9ff, #a29bfe);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Header */

/* Checkout Container */
.checkout-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 1.875rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    color: #fff;
}

label, input[type="text"], input[type="email"], input[type="tel"], select, button {
    width: 100%;
    box-sizing: border-box;
}

input[type="text"], input[type="email"], input[type="tel"], select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
}

input[type="text"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder {
    color: #bbb;
}

.expiry {
    display: flex;
    gap: 10px;
}

button {
    background-color: #444;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
}

button:hover {
    background-color: #555;
}

.error-message {
    color: red;
    font-size: 12px;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left .footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.footer-center a {
    color: #ffffff;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
}

.footer-center a:hover {
    color: #cccccc;
}

.footer-right a {
    color: #ffffff;
    background-color: #444;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.footer-right a:hover {
    background-color: #333;
    transform: scale(1.05);
}

.footer-bottom {
    border-top: 1px solid #444;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}
