*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "coolvetica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.875rem; /* Aproximadamente 30px */
    color: #ffffff;
    letter-spacing: 0.063rem; /* Aproximadamente 1px */
    border-radius: 1.875rem; /* Aproximadamente 30px */
    text-decoration: none;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
    margin-top: -1%;
}

.header-logo {
    height: 8vw; /* La altura se adapta al ancho de la pantalla */
    margin-left: 5%;
    margin-top: -4%;
    margin-bottom: 1%;
    transition: transform .2s ease;
}

.header-logo:hover {
    transform: scale(1.05);
}

.header-right {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 2em;
    height: 3vw;
    padding: 0.3em 0;
    margin-top: -2%;
    margin-right: 5vw;
}

.header-right a {
    padding: 0 1.5vw;
    text-decoration: none;
    color: white;
    align-content: center;
    font-family:  "coolvetica", sans-serif;
    font-size: 3vh;
    font-weight: 700;
    letter-spacing: 0.063rem;
    border-radius: 1.875rem;
    transition: color .2s ease, transform .3s ease-out;
}

.header-right a:hover {
    color: #cccccc;
    transform: scale(1.03);
}


/*CUERPO*/

p{
    font-family: "coolvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: #ffffff;
    letter-spacing: 1px;
}

.contenedor-fondo{
    background-color: transparent;
    align-self: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Parte izquierda de la pantalla: */

.contenedor-menu{
    box-sizing: border-box;
    max-width: 25%;
    height: 80%;
    margin: 0;
    margin: 4rem 1rem;
    margin-bottom: 2%;
    padding: 2%;
    border: #000000;
    border-radius: 1.875rem;
    align-items: center;
    text-align: center;
    position: relative;
    top: -5%;
    display: inline-block;
    background-color: #000000
}

.nombre-y-foto{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.opciones-menu{
    position: relative;
    top: 18%;
}

.opciones-menu a {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    top: 10%;
    font-size: 80%; /************************************************************/
    font-weight: 400;
    color: #ffffff;
    background-color:black;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-left: 0;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: none;
    padding: 5% 5%;
    transition: .5s;
}

.opciones-menu a:hover{
    font-size: 1em;
    font-weight: 410;
}

.opciones-menu a span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transform: scale(0) translateY(50px);
    transition: .8s;
}

.opciones-menu a:hover span{
    transform: scale(1) translateY(0px);
    opacity: 0.5;
}


/* Parte derecha de la página: */

.contenedor-datos-perfil{
    box-sizing: border-box;
    width: 50%;
    height: 75%;
    padding: 2%;
    margin-left: 12%;
    margin-top: 1rem; /* REVISAR LUEGO DEL HEADER */
    position: relative;
    background-color: #000000;
    border-radius: 3.4375rem;
    align-items: center;
    align-content: center;
    text-align: center;
}

.titulo-perfil{
    box-sizing: border-box;
    position: relative;
    bottom: 5%;
    margin-top: 3%;
    font-weight: 700;
}

.mi-perfil{
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    align-items: center;
    align-content: space-evenly;
    display: flex;
    margin: 1%;
}

.mi-perfil-titulos{
    box-sizing: border-box;
    position: relative;
    top: -9%;
    right: 2%;
    flex-grow: 1;
    width: 30%;
    height: 80%;
    text-align: right;

}

.mi-perfil-datos{
    box-sizing: border-box;
    position: relative;
    top: -9%;
    flex-grow: 1;
    width: 35%;
    height: 80%;
    text-align: left;
}

.mi-perfil-titulos p{
    margin-top: 0%;
    margin-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%;
}

.mi-perfil-datos p{
    margin-top: 0%;
    margin-bottom: 9%;
    margin-left: 1%;
    margin-right: 1%;
}

.btnEditar {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.5vw;
    width: 21vw;
    margin: 1vh 1vw;
    padding: 1.5vh 2vw;
    position: absolute;
    left: 13vw;
    top: 59vh;
    background-color: #ffffff;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
    transition: 1.5s;
}

.btnEditar a{
    text-decoration: none;
    color: #000000;
}

.btnEditar a:hover{
    font-size: 1.05em;
    font-weight: 500;
}

.btnEditar a span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transform: scale(0) translateY(50px);
    transition: 1.5s;
}

.btnEditar a:hover span{
    transform: scale(1) translateY(0px);
    opacity: 0.5;
}
/*fin cuerpo*/


/* FOOTER */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /* position: fixed; */
    margin-top: 2rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-top: 1px solid #444;
    font-family: 'Coolvetica', Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-left .footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.footer-center a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-center a:hover {
    text-decoration: underline;
}

.footer-right a {
    color: #ffffff;
    background-color: #444;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-right a:hover {
    background-color: #333;
}

.footer-bottom {
    border-top: 1px solid #444;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}


/* FONDO */
@keyframes hero-gradient-animation {
    0% {
        --x-0: 85%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --c-0: hsla(338.04878048780483, 100%, 91%, 1);
        --y-0: 80%;
        --c-1: hsla(285.2631578947368, 80%, 86%, 1);
        --s-start-1: 5%;
        --s-end-1: 72%;
        --x-1: 60%;
        --y-1: 24%;
        --y-2: 82%;
        --x-2: 13%;
        --c-2: hsla(261.8181818181818, 100%, 87%, 1);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 24%;
        --y-3: 7%;
        --c-3: hsla(230.24999999999997, 100%, 84%, 1);
        --s-start-4: 13%;
        --s-end-4: 68%;
        --x-4: 24%;
        --y-4: 7%;
        --c-4: hsla(214.44444444444443, 100%, 78%, 1);
    }

    100% {
        --x-0: 31%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --c-0: hsla(338.04878048780483, 100%, 91%, 1);
        --y-0: 94%;
        --c-1: hsla(285.2631578947368, 80%, 86%, 1);
        --s-start-1: 5%;
        --s-end-1: 72%;
        --x-1: 2%;
        --y-1: 25%;
        --y-2: 20%;
        --x-2: 98%;
        --c-2: hsla(261.8181818181818, 100%, 87%, 1);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 95%;
        --y-3: 92%;
        --c-3: hsla(230.24999999999997, 100%, 84%, 1);
        --s-start-4: 13%;
        --s-end-4: 68%;
        --x-4: 95%;
        --y-4: 92%;
        --c-4: hsla(214.44444444444443, 100%, 78%, 1);
    }
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(338.04878048780483, 100%, 91%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(285.2631578947368, 80%, 86%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(261.8181818181818, 100%, 87%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(230.24999999999997, 100%, 84%, 1)
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(214.44444444444443, 100%, 78%, 1)
}

body{
    --x-0: 85%;
    --c-0: hsla(338.04878048780483, 100%, 91%, 1);
    --y-0: 80%;
    --c-1: hsla(285.2631578947368, 80%, 86%, 1);
    --x-1: 60%;
    --y-1: 24%;
    --y-2: 82%;
    --x-2: 13%;
    --c-2: hsla(261.8181818181818, 100%, 87%, 1);
    --x-3: 24%;
    --y-3: 7%;
    --c-3: hsla(230.24999999999997, 100%, 84%, 1);
    --x-4: 24%;
    --y-4: 7%;
    --c-4: hsla(214.44444444444443, 100%, 78%, 1);
;
    background-color: hsla(228.97058823529406, 100%, 84%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}