<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='stylesheet' type='text/css' media='screen' href='ConfigPerfilUsuario/ConfigPerfilUsuario.css'> <!--CSS-->
    <link rel="stylesheet" href="https://use.typekit.net/ltx2luq.css">

    <title>MI PERFIL</title>
</head>

<body>

    <!-- HEADER -->
    <header>
        <a href="/" class="header-left">
            <img src="../IMG/eventify-logo.png" alt="Eventify Logo" class="header-logo">
        </a>

        <div class="header-right">
            <li class="opciones-menu-header">
                <a>EVENTOS</a>
                <ul class="sub-menu-header">
                    <li class="opciones-submenu-header"><a href="/EventosFiestas">FIESTAS</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosDeportes">DEPORTES</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosConciertos">CONCIERTOS</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosExposiciones">EXPOSICIONES</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosGastronomia">GASTRONOMÍA</a></li>

                </ul>
            </li>
            <a href="/Nosotros">NOSOTROS</a>
            <a href="/MiPerfilU">MI PERFIL</a>

        </div>

        <form>
            <div class="search">
                <img src="IMG/searchh.png" alt="buscar" width="30rem">
                <input class="search-input" type="search" placeholder="BUSCAR">
            </div>
        </form>
    </header>


    <!-- CUERPO -->

    <div class="contenedor-fondo" id="contenedor-fondo">

        <!-- Parte izquierda de la página: foto, nombre y opciones del perfil -->
        <div class="contenedor-menu" id="contenedor-menu"> <!-- Añadir imagen de usuario -->
            <div class="nombre-y-foto" id="nombre-y-foto">
                <img src="IMG/foto-de-perfil.png" width="50%" alt="foto de perfil">
                <p class="nombre-txt" id="nombre-txt">Alejandra López</p>
            </div>
            <div class="opciones-menu" id="opciones-menu">
                <a href="/MisEventos.html">Mis eventos<span></span></a> <!--Link pantalla mis eventos-->
                <a href="/MetodosDePago">Mis métodos de pago<span></span></a>
                <!--Link pantalla de métodos de pago(listado de tarjetas)-->
                <a href="/">Cerrar sesión<span></span></a>
                <!--Link al landing page (primera iteración)-->
            </div>
        </div>

        <!-- Contenedor principal "Mi perfil" -->
        <div class="contenedor-datos-perfil" id="contenedor-datos-perfil">
            <h1 class="titulo-perfil" id="titulo-perfil">MI PERFIL</h1>

            <div class="cambio-foto-y-nombre" id="cambio-foto-y-nombre">
                <a href="#">Cambiar foto de perfil<span></span></a> <!--Link a foto de perfil (primera iteración)-->
                <a href="#">Cambiar nombre<span></span></a> <!--Link a cambio de nombre (primera iteración)-->
            </div>


            <div class="mi-perfil" id="mi-perfil">

                <div class="mi-perfil-titulos" id="mi-perfil-titulos">
                    <p>Identificación:</p>
                    <p>Correo electrónico:</p>
                    <p>Fecha de nacimiento:</p>
                    <p>Residencia:</p>
                </div>
                <form action="#" class="mi-perfil-datos" id="formulario">
                    <!--Cambiar datos quemados por reales con la base de datos-->

                    <!--GRUPO DE IDENTIFICACION-->
                    <div class="formulario-grupo" id="grupo-identificacion">
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input" name="identificacion" id="identificacion"
                                placeholder="1-2345-6789">
                        </div>
                        <p class="formulario-input-error">La identificación debe tener mínimo
                            9 caracteres y máximo 14, solo se admiten números y guiones.
                        </p>
                    </div>

                    <!--GRUPO DE EMAIL-->
                    <div class="formulario-grupo" id="grupo-correo">
                        <div class="formulario-grupo-input">
                            <input type="email" class="formulario-input" name="correo" id="correo"
                                placeholder="correo@correo.com">
                        </div>
                        <p class="formulario-input-error">El correo deber tener mínimo 5 caracteres y
                            solo se admiten números, letras y guión bajo.
                        </p>
                    </div>

                    <!--GRUPO DE FECHA NACIMIENTO-->
                    <div class="formulario-grupo" id="grupo-fechanacimiento">
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input" name="fechanacimiento" id="fechanacimiento"
                                placeholder="22-02-2002">
                        </div>
                        <p class="formulario-input-error">El formato de la fecha es día, mes, año; utilizando
                            guiones como separación (ejemplo: 15-08-2005).
                        </p>
                    </div>

                    <!--GRUPO DE RESIDENCIA-->
                    <div class="formulario-grupo" id="grupo-residencia">
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input" name="residencia" id="residencia"
                                placeholder="San José, Desamparados">
                        </div>
                        <p class="formulario-input-error">La dirección debe tener mínimo 6 caracteres,
                            debe incluir provincia y cantón, en ese orden.
                        </p>

                    </div>

                    <!--BOTÓN CANCELAR-->
                    <div class="btnCancelar" id="btnCancelar">
                        <a href="/MiPerfilU">Cancelar<span></span></a>
                        <!--Link a página editar perfil-->
                    </div>

                    <!--BOTÓN GUARDAR CAMBIOS-->
                    <div class="btnEnviar"> <!--   CONFIGURAR BOTÓN   -->
                        <p class="formulario-mensaje-exito" id="formulario-mensaje-exito">Cambios guardados
                            correctamente</p>
                        <input type="submit" class="formulario-btn-enviar" value="Guardar cambios">
                    </div>

                </form>

            </div>

        </div>
    </div>


    <!-- FOOTER -->
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <span class="footer-logo">EVENTIFY</span>
            </div>
            <div class="footer-center">
                <a href="/TerminosCondiciones">Términos y condiciones</a>
                <a href="/Soporte">Ayuda</a>
                <a href="/PoliticaPrivacidad">Política de Privacidad</a>
                <a href="/Contacto">Contáctanos</a>
            </div>
            <div class="footer-right">
                <a href="https://www.facebook.com" target="_blank" class="social">Facebook</a>
                <a href="https://www.instagram.com" target="_blank" class="social">Instagram</a>
                <a href="https://www.twitter.com" target="_blank" class="social">Twitter</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024 Tropical Developers. Todos los derechos reservados.</p>
        </div>
    </footer>


    <script src='ConfigPerfilUsuario/ConfigPerfilUsuario.js'></script> <!--JAVA SCRIPT-->

</body>

</html>