<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREAR EVENTO</title>


  <link rel="stylesheet" href="EditCreateEventos/CreateEvent.css">
  <link rel="stylesheet" href="https://use.typekit.net/ltx2luq.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header>
    <a href="/InicioA" class="header-left">
      <img src="IMG/eventify-logo.png" alt="Eventify Logo" class="header-logo">
    </a>
    <div class="header-right">
      <a href='/InicioA'>DASHBOARD</a>
      <a href='/AdministrarEventos'>EVENTOS</a>
      <a href='/AdministrarUsuarios'>USUARIOS</a>
      <a href='/ConfiguracionGeneral'>CONFIGURACIÓN</a>
      <a href='/MiPerfilA'>MI PERFIL</a>
    </div>
  </header>

  <form>
  <main>
    <div class="left-main">
      <h2>CREAR EVENTO</h2>

      <div class="file-left">
        
      </div>
      <input type="file" class="files" id="fileInput">
      <label for="fileInput" class="custom-file-button">Subir archivo</label>
    </div>

    <div class="right-main">
      <div class="title">
        <h3>Titulo:</h3> <input type="text" name="" id="" placeholder="Evento">
      </div>
      <div class="core-main">
        <h3>Fecha:</h3> <div><input type="date" name="" id=""  class="date"> <i class='bx bx-calendar'></i></div>
        <h3>Lugar:</h3> <input type="text" name="" id="" placeholder="La Uruca"> 
        <h3>Hora:</h3> <div><input type="time" name="" id="" placeholder="Evento" class="time"> <i class='bx bx-time'></i></div>
      </div>
      <div class="core-final">
        <h3>Descripcion:</h3>
        <div><input type="text"></div>
      </div>
      <div class="main-bottom">
        <div class="tickets">
          <h3 class="general">GENERAL</h3>
          <h3>$--</h3>
          <div class="counter">
            <input type="number" pattern="[0-9]+" min="0">
          </div>
        </div>
        <div class="tickets">
          <h3 class="general">VIP</h3>
          <h3>$--</h3>
          <div class="counter">
            <input type="number" pattern="[0-9]+" min="0">
          </div>
        </div>
        <h3 class="rules-title">Reglas: </h3>
        <div class="rules">
          <input type="text" placeholder="...">
          <input type="text" placeholder="...">
          <input type="text" placeholder="...">
        </div>
      </div>
      <input type="submit" class="button-bottom" value="Guardar">
  </form>
    </div>
  </main>

  <footer>
    <div class="footer-container">
      <div class="footer-left">
        <span class="footer-logo">EVENTIFY</span>
      </div>
      <div class="footer-center">
        <a href="/TerminosCondiciones">Términos y condiciones</a>
        <a href="/Soporte">Ayuda</a>
        <a href="/PoliticaPrivacidad">Política de Privacidad</a>
        <a href="/Contacto">Contáctanos</a>
      </div>
      <div class="footer-right">
        <a href="https://www.facebook.com" class="social">Facebook</a>
        <a href="https://www.instagram.com/" class="social">Instagram</a>
        <a href="https://www.x.com/" class="social">Twitter</a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2024 Tropical Developers. Todos los derechos reservados.</p>
    </div>
  </footer>

</body>