<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='stylesheet' type='text/css' media='screen' href='InfoEventoUsuario/InfoEvento.css'> <!--CSS-->
    <link rel="stylesheet" href="https://use.typekit.net/ltx2luq.css">
    <title>INFORMACIÓN DEL EVENTO</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <a href="/InicioU" class="header-left">
            <img src="IMG/eventify-logo.png" alt="Eventify Logo" class="header-logo">
        </a>

        <div class="header-right">
            <li class="opciones-menu-header">
                <a href="/EventosDisponibles">EVENTOS</a>
                <ul class="sub-menu-header">
                    <li class="opciones-submenu-header"><a href="/EventosFiestas">FIESTAS</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosDeportes">DEPORTES</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosConciertos">CONCIERTOS</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosExposiciones">EXPOSICIONES</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosGastronomia">GASTRONOMÍA</a></li>
                </ul>
            </li>
            <a href="/Nosotros">NOSOTROS</a>
            <a href="/MiPerfilU">MI PERFIL</a>
        </div>

        <form>
            <div class="search">
                <img src="IMG/searchh.png" alt="buscar" width="30rem">
                <input class="search-input" type="search" placeholder="BUSCAR">
            </div>
        </form>
    </header>

    <!-- CUERPO -->
    <div class="contenedor-fondo" id="contenedor-fondo">

        <!-- Parte izquierda de la página: foto del evento -->
        <div class="contenedor-foto" id="contenedor-foto">
            <img class="foto-evento" src="/IMG/evento1-.png" alt="Imagen ilustrativa del evento">
        </div>

        <!-- Contenedor principal "Mi perfil" -->
        <div class="contenedor-datos-evento" id="contenedor-datos-evento">
            <h1 class="titulo-evento" id="titulo-evento">EL CULTO:RITUAL</h1>

            <div class="datos-evento" id="datos-evento">
                <p>📅<span>7 de diciembre de 2024</span></p>
                <p>📍<span>Centro de Eventos La Uruca</span></p>
                <p>🕒<span>21:00</span></p>
            </div>

            <div class="descripcion-evento" id="descripcion-evento">
                <p>Prepárate para la noche más aterradora y emocionante del año. No te pierdas esta fiesta llena de
                    buena música y un gran ambiente. Premios a los mejores 3 disfraces de la noche. ¡Te esperamos para
                    una fiesta de disfraces inolvidable!</p>
            </div>

            
            <!--<div class="cantEntradas" id="cantEntradas2">
                <select id="cantEntradas" name="cantEntradas1">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                </select>
            </div>

            <div class="cantEntradas" id="cantEntradas2">
                <select id="cantEntradas" name="cantEntradas2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                </select>
            </div>
        -->
            
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <span class="footer-logo">EVENTIFY</span>
            </div>
            <div class="footer-center">
                <a href="/TerminosCondiciones">Términos y condiciones</a>
                <a href="/Soporte">Ayuda</a>
                <a href="/PoliticaPrivacidad">Política de Privacidad</a>
                <a href="/Contacto">Contáctanos</a>
            </div>
            <div class="footer-right">
                <a href="https://www.facebook.com" target="_blank" class="social">Facebook</a>
                <a href="https://www.instagram.com" target="_blank" class="social">Instagram</a>
                <a href="https://www.twitter.com" target="_blank" class="social">Twitter</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024 Tropical Developers. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="InfoEventoUsuario/InfoEvento.js"></script>
</body>

</html>