<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tropical Developers</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../public/LandingPageTD/landingpageTD.css">
    </head>

    <body>

        <header>

            <a class="logo">
                <img src="logotdb.png" alt="Tropical Developers Logo" width="150px"> 
              </a>

            <nav class="navbar">
            <a href="#servicios">SERVICIOS</a>
            <a href="#proyectos">PROYECTOS</a>
            </nav>
        </header>

    <div class="container">
        <div class="nosotros">
            <h1>NOSOTROS</h1>
            <p>Nos especializamos en crear diseños efectivos que no solo destacan visualmente, 
            sino que también impulsan el éxito de tu marca, nuestro equipo tiene la creatividad y 
            la experiencia para lograr cualquier objetivo de diseño que tengas en mente. 
            Transformamos ideas en soluciones visuales que conectan con tu audiencia y llevan 
            tu negocio al siguiente nivel</p>
        </div>

        <div class="servicios" id="servicios">
            <h1>SERVICIOS</h1>
                <ul>
                    <li>FRONT-END</li>
                    <li>APP SOFTWARE</li>
                    <li>BACK-END</li>
                </ul>
        </div>

        <div class="proyectos" id="proyectos">
            <h1>PROYECTOS</h1>
            <a class="link-eventify" href="/">EVENTIFY</a>
            <p>Plataforma para eventos, búsqueda y reservar entradas de diferentes eventos</p>
        </div>
        
    </div>

    <!--FOOTER-->
    <footer>
      <div class="footer-container">
          <div class="footer-left">
              <span class="footer-logo">EVENTIFY</span>
          </div>
          <div class="footer-center">
            <a href="/TerminosCondiciones">Términos y condiciones</a>
            <a href="/Soporte">Ayuda</a>
            <a href="/PoliticaPrivacidad">Política de Privacidad</a>
            <a href="/Contacto">Contáctanos</a>
          </div>
          <div class="footer-right">
              <a href="https://www.facebook.com" target="_blank" class="social">Facebook</a>
              <a href="https://www.instagram.com" target="_blank" class="social">Instagram</a>
              <a href="https://www.twitter.com" target="_blank" class="social">Twitter</a>
          </div>
      </div>
      <div class="footer-bottom">
          <p>© 2024 Tropical Developers. Todos los derechos reservados.</p>
      </div>
  </footer>
  <!--FIN DE FOOTER-->
    
</body>
</html>