<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="https://use.typekit.net/ltx2luq.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/NosotrosPag/Nosotros.css"> <!--CSS-->

    <title>NOSOTROS</title>
</head>

<body>

<!-- HEADER -->
<header>
    <a href="/InicioU" class="header-left">
        <img src="IMG/eventify-logo.png" alt="Eventify Logo" class="header-logo">
    </a>

    <div class="header-right">
        <li class="opciones-menu-header">
            <a>EVENTOS</a>
            <ul class="sub-menu-header">
                <li class="opciones-submenu-header"><a href="/EventosFiestas">FIESTAS</a></li>
                <li class="opciones-submenu-header"><a href="/EventosDeportes">DEPORTES</a></li>
                <li class="opciones-submenu-header"><a href="/EventosConciertos">CONCIERTOS</a></li>
                <li class="opciones-submenu-header"><a href="/EventosExposiciones">EXPOSICIONES</a></li>
                <li class="opciones-submenu-header"><a href="/EventosGastronomia">GASTRONOMÍA</a></li>
            </ul>
        </li>
        <a href="/Nosotros">NOSOTROS</a>
        <a href="/MiPerfilU">MI PERFIL</a>

    </div>

    <form>
        <div class="search">
            <img src="IMG/searchh.png" alt="buscar" width="30rem">
            <input class="search-input" type="search" placeholder="BUSCAR">
        </div>
    </form>
</header>

<!-- CUERPO -->

<div class="contenedor-fondo" id="contenedor-fondo">

    <div class="info-eventify">
        <h1>SOBRE NOSOTROS</h1>
        <p>Eventify fue fundada en 2022 con el objetivo de revolucionar la forma en que las personas organizan y
            participan en eventos. Inicialmente concebida como una plataforma sencilla para facilitar la creación
            de eventos educativos y de entretenimiento, Eventify ha evolucionado para convertirse en una solución
            integral donde los usuarios no solo pueden organizar eventos como capacitaciones, talleres, y conciertos,
            sino también descubrir, buscar y reservar eventos fácilmente.
            <br><br>El equipo detrás de Eventify, compuesto por expertos en tecnología y marketing, identificó una
            necesidad creciente de plataformas que conecten a organizadores y asistentes de manera más efectiva.
            Así, Eventify ha sido diseñada para facilitar tanto la gestión de eventos como la experiencia del usuario
            final. Desde su lanzamiento, ha ganado popularidad en comunidades empresariales, instituciones educativas,
            y en la industria del entretenimiento.
            <br><br>Visión: Democratizar el acceso a eventos globales, conectando a organizadores con audiencias
            interesadas de manera rápida y sencilla.<br>
            Misión: Facilitar la creación y reserva de eventos, brindando a los usuarios una plataforma donde puedan
            descubrir oportunidades educativas, recreativas y profesionales con un solo click.
        </p>
    </div>
</div>


<!-- FOOTER -->
<footer>
    <div class="footer-container">
        <div class="footer-left">
            <span class="footer-logo">EVENTIFY</span>
        </div>
        <div class="footer-center">
            <a href="/TerminosCondiciones">Términos y condiciones</a>
            <a href="/Soporte">Ayuda</a>
            <a href="/PoliticaPrivacidad">Política de Privacidad</a>
            <a href="/Contacto">Contáctanos</a>
        </div>
        <div class="footer-right">
            <a href="https://www.facebook.com" target="_blank" class="social">Facebook</a>
            <a href="https://www.instagram.com" target="_blank" class="social">Instagram</a>
            <a href="https://www.twitter.com" target="_blank" class="social">Twitter</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 Tropical Developers. Todos los derechos reservados.</p>
    </div>
</footer>
</body>

</html>