<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="PoliticaPrivacidad.css">
    <title>PoliticaPrivacidad</title>
    <script>
      function goBack() {
        if (window.history.length > 1) {
          window.history.back();
        } else {
          // Si no hay una página previa en el historial, redirige a una predeterminada
          window.location.href = "/home"; // Cambia "/home" a la página predeterminada de tu aplicación
        }
      }
    </script>
    
</head>
<body>
    <header>
      <a href="javascript:void(0)" onclick="goBack()" class="header-left">
        <img src="../IMG/eventify-logo.png" alt="Eventify Logo" class="header-logo">
      </a>
      
        
      </header>

      <main>
        
        <div class="Indice">
          <a href="#Introduccion">Introduccion</a>
          <a href="#Seccion1">Información que Recopilamos</a>
          <a href="#Seccion2">Uso de la Información</a>
          <a href="#Seccion3">Compartir tu Información</a>
          <a href="#Seccion4">Seguridad de la Información</a>
          <a href="#Seccion5">Tus Derechos</a>
          <a href="#Seccion6">Retención de Datos</a>
          <a href="#Seccion7">Privacidad de Menores</a>
          <a href="#Seccion8">Cambios a esta Política de Privacidad</a>
          <a href="#Seccion9">Contacto</a>
        </div>

        <div class="PoliticaPrivacidad">
          <h1 class="PP">Política de Privacidad</h1>
      
          <h2 class="Subtitulos" id="Introduccion">Introducción</h2>
          <p class="Descripcion">En Eventify, la privacidad de nuestros usuarios es de máxima prioridad.
              Este documento describe cómo recopilamos, utilizamos, compartimos y protegemos tu información personal 
              cuando accedes a nuestra plataforma para la compra de entradas de eventos como conciertos, fiestas y festivales. 
              Al utilizar nuestro sitio web o servicios, aceptas los términos de esta Política de Privacidad. Si no estás de acuerdo, 
              por favor no utilices nuestros servicios. 
          </p>
      
          <h2 class="Subtitulos" id="Seccion1">Información que Recopilamos</h2>
          <p class="Descripcion">Recopilamos información personal y no personal 
              para brindarte una mejor experiencia de usuario y mejorar nuestros servicios.
          </p>
      
          <h3 class="minititulos">Información Personal</h3>
          <p class="Descripcion">Podemos recopilar información que te identifique directamente, incluyendo:</p>
      
          <ul class="Lista">
              <li>Nombre completo.</li>
              <li>Dirección de correo electrónico.</li>
              <li>Número de teléfono.</li>
              <li>Dirección de facturación y envío.</li>
              <li>Información de pago (por ejemplo, datos de tarjetas de crédito/débito procesados a través de terceros seguros).</li>
          </ul>
      
          <h3 class="minititulos">Información No Personal</h3>
          <p class="Descripcion">Recopilamos datos no identificables de manera directa, como:</p>
      
          <ul class="Lista">
              <li>Dirección IP.</li>
              <li>Tipo de dispositivo.</li>
              <li>Navegador web.</li>
              <li>Páginas visitadas y tiempo en la plataforma.</li>
              <li>Preferencias de eventos y compras anteriores.</li>
          </ul>
      
          <h2 class="Subtitulos" id="Seccion2">Uso de la Información</h2>
          <p class="Descripcion">Utilizamos la información recopilada para:</p>
      
          <ul class="Lista">
              <li>Procesar tus transacciones y asegurar la entrega de tus entradas.</li>
              <li>Personalizar la experiencia de usuario en la plataforma.</li>
              <li>Enviar notificaciones relacionadas con tus compras, eventos o actualizaciones.</li>
              <li>Proporcionar soporte técnico o de atención al cliente.</li>
              <li>Mejorar nuestros servicios, funcionalidades y seguridad.</li>
              <li>Cumplir con requisitos legales y reglamentarios.</li>
          </ul>
      
          <h2 class="Subtitulos" id="Seccion3">Compartir tu Información</h2>
          <p class="Descripcion">Podemos compartir tu información en las siguientes circunstancias:</p>

          <h3 class="minititulos">Con Proveedores de Servicios</h3>
          <p class="Descripcion">Compartimos información con terceros que nos ayudan a operar la plataforma, como:</p>

          <ul class="Lista">
            <li>Procesadores de pagos.</li>
            <li>Proveedores de servicios de correo electrónico.</li>
            <li>Socios logísticos y de entrega.</li>
        </ul>
      
          <h3 class="minititulos">Con Organizadores de Eventos</h3>
          <p class="Descripcion">Podemos compartir información relevante con los organizadores de eventos relacionados con tus compras.</p>
      
          <h3 class="minititulos">Por Requisitos Legales</h3>
          <p class="Descripcion">Podemos divulgar información si es requerido por ley o para proteger nuestros derechos, 
            la seguridad de los usuarios y del público.</p>
      
          <h2 class="Subtitulos" id="Seccion4">Seguridad de la Información</h2>
          <p class="Descripcion">Implementamos medidas avanzadas de seguridad para proteger tu información 
            contra accesos no autorizados, pérdidas o alteraciones, como:</p>

            <ul class="Lista">
              <li>Verificacion de pagos por medio de correo electronico</li>
              <li>Restricción de acceso a la información solo a empleados y socios autorizados.</li>
              <li>Sistemas de Verificacion de cuenta.</li>
          </ul>
      
          <h2 class="Subtitulos" id="Seccion5">Tus Derechos</h2>
          <p class="Descripcion">Tienes derecho a acceder, rectificar, eliminar o restringir el uso de tu información personal. 
            Para ejercer estos derechos, contáctanos en <a href="mailto:contacto@eventify.com">contacto@eventify.com</a>.</p>
      
          <h2 class="Subtitulos" id="Seccion6">Retención de Datos</h2>
          <p class="Descripcion">Conservamos tu información personal solo mientras sea necesario para cumplir con los fines descritos, 
            a menos que la ley exija lo contrario.</p>
      
          <h2 class="Subtitulos" id="Seccion7">Privacidad de Menores</h2>
          <p class="Descripcion">Eventify no está destinada a menores de 18 años. Si identificamos que hemos recopilado
             datos de un menor, los eliminaremos a solicitud del padre o tutor.</p>
      
          <h2 class="Subtitulos" id="Seccion8">Cambios a esta Política de Privacidad</h2>
          <p class="Descripcion">Nos reservamos el derecho de actualizar esta política en cualquier momento. Te notificaremos 
            sobre cambios importantes a través de correos electrónicos o anuncios en nuestra plataforma.</p>
      
          <h2 class="Subtitulos" id="Seccion9">Contacto</h2>
          <p class="Descripcion">Si tienes preguntas sobre esta política, contáctanos en:</p>
          <ul class="Lista">
              <li>Correo electrónico: <a href="mailto:contacto@eventify.com">contacto@eventify.com</a></li>
              <li>Teléfono: 8899-2950</li>
              <li>Dirección: San Jose, Leon 13, 229</li>
          </ul>
      </div>
      
      </main>
      
</body>
</html>