/*------HEADER-----*/

header{
    display: flex;
    align-items: center;
    padding: 0px 20px ;
    justify-content: space-between;
    margin-top: -10px;
}

.header-logo{
    height: 140px;
    margin-left: 30px;
    margin-top: -10px;
    transition: transform .3s ease;
}

.header-logo:hover{
    transform: scale(1.05);
}

.header-right{
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 30px;
    height: 50px;
    padding: 5px 0px;
    margin-top: -10px;
    margin-right: 50px;
    margin-top: -20px;
}

.header-right a{
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    align-content: center;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: bolder;
    transition: color .2s ease, transform .3s ease-out;
}

.header-right a:hover{
    color: #cccccc;
    transform: scale(1.03);
}

/*------FOOTER-----*/

footer{
    display: flex;
    align-items: center;
}

.footer-logo{
    height: 140px;
}











@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(338, 100%, 91%, 1);
        --y-0: 80%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --x-0: 85%;
        --c-1: hsla(285, 100%, 86%, 1);
        --y-1: 24%;
        --x-1: 60%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-2: 82%;
        --x-2: 13%;
        --s-start-2: 5%;
        --s-end-2: 52%;
        --c-2: hsla(261, 100%, 87%, 1);
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 24%;
        --y-3: 7%;
        --c-3: hsla(229, 100%, 83%, 1);
        --s-start-4: 13%;
        --s-end-4: 68%;
        --x-4: 24%;
        --y-4: 7%;
        --c-4: hsla(214, 100%, 78%, 1);
    }

    100% {
        --c-0: hsla(0, 100%, 86%, 1);
        --y-0: 94%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --x-0: 31%;
        --c-1: hsla(219.99999999999997, 100%, 89%, 1);
        --y-1: 25%;
        --x-1: 2%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-2: 20%;
        --x-2: 98%;
        --s-start-2: 5%;
        --s-end-2: 52%;
        --c-2: hsla(87.35294117647075, 100%, 85%, 1);
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 95%;
        --y-3: 92%;
        --c-3: hsla(182, 0%, 100%, 1);
        --s-start-4: 13%;
        --s-end-4: 68%;
        --x-4: 95%;
        --y-4: 92%;
        --c-4: hsla(0, 100%, 86%, 1);
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(338, 100%, 91%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(285, 100%, 86%, 1)
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(261, 100%, 87%, 1)
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(229, 100%, 83%, 1)
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(214, 100%, 78%, 1)
}

body{
    --c-0: hsla(338, 100%, 91%, 1);
    --y-0: 80%;
    --x-0: 85%;
    --c-1: hsla(285, 100%, 86%, 1);
    --y-1: 24%;
    --x-1: 60%;
    --y-2: 82%;
    --x-2: 13%;
    --c-2: hsla(261, 100%, 87%, 1);
    --x-3: 24%;
    --y-3: 7%;
    --c-3: hsla(229, 100%, 83%, 1);
    --x-4: 24%;
    --y-4: 7%;
    --c-4: hsla(214, 100%, 78%, 1);
    ;
    background-color: hsla(358, 0%, 100%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}