/*------HEADER-----*/
header {
    margin-top:2vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
}

.header-logo {
    height: 8vw; /* La altura se adapta al ancho de la pantalla */
    margin-left: 5%;
    margin-top: -4%;
    margin-bottom: 1%;
    transition: transform .2s ease;
}

.header-logo:hover {
    transform: scale(1.05);
}

.header-right {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 2em;
    height: 3vw;
    padding: 0.3em 0;
    margin-top: -2%;
    margin-right: 4%;
}

.header-right a {
    padding: 0 1.5vw;
    text-decoration: none;
    color: white;
    align-content: center;
    font-family:  "coolvetica", sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.063rem;
    border-radius: 1.875rem;
    transition: color .2s ease, transform .3s ease-out;
}

.header-right a:hover {
    color: #cccccc;
    transform: scale(1.03);
}

/*------FOOTER-----*/

body {
    font-family: 'Coolvetica', Arial, sans-serif;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-top: 1px solid #444;
    font-family: 'Coolvetica', Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-left .footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.footer-center a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-center a:hover {
    text-decoration: underline;
}

.footer-right a {
    color: #ffffff;
    background-color: #444;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-right a:hover {
    background-color: #333;
}

.footer-bottom {
    border-top: 1px solid #444;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

main{
    display: flex;
    font-family:  "coolvetica", sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0.063rem;
    margin-top:6vh;
    margin-bottom: 10vw;
}

.left-main{
    margin-left: 7vw;
    width: auto;
    justify-items: center;
    
}

.left-main h2{
    justify-self: center;
    font-size: 4vh;
    margin-bottom: 30px;
    margin-left: 7vh;
}

.file-left{
    display: flex;
    margin: 4vh;
    margin-left: 7vh;
    background-color: #333;
    width: 34.5vw;
    height: 35vh;
    flex-direction: column;
    border-radius: 1.3vh;
    align-items: center;
    justify-items: center;
    border: 1.5vh solid black;
}

input[type="file"] {
    display: none;
}

.custom-file-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2vw;
}

.custom-file-button:hover {
    background-color: #0056b3;
}

.right-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}   

.title{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 1vw;
}

.title h3{
    margin-right: 1vw;
    font-size: 1.8vw;
    align-self: center;
}

.title input{
    height: 2.3vw;
    width: 10vw;
    align-self: center;
    align-items: center;
    border-radius: 1vh;
    border: .3vh solid black;
    background-color:black;
    color:white;
    font-size: 1.1vw;
}

.core-main input::placeholder{
    font-size: 2.2vh;
    color:white;
    align-self:center;
}

.title input::placeholder{
    font-size: 2.2vh;
    color:white;
}

.core-main{
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    width: auto;
    font-size: 1.3vw;
}

.core-main input{
    align-self: center;
    margin-right: 2vw;
    margin-left: 1vh;
    height: 2.2vw;
    width: 8vw;
    border-radius: 1vh;
    border: .3vh solid black;
    color:#ffffff;
    background-color:rgb(0, 0, 0);
    font-size: 1vw;
}

.core-main div{
    align-content: center;
}

.bx-calendar{
    position: absolute;
    pointer-events: none;
    transform: translateX(-3.95vw) translateY(1vh);
    color: #fff;
}

.bx-time{
    position: absolute;
    pointer-events: none;
    color: #fff;
    transform: translateX(-3.95vw) translateY(1vh);
}

input[type="time"]::-webkit-calendar-picker-indicator{
    margin-right: .4vw;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    margin-right: .4vw;
}

.core-final{
    margin-top: .2vw;
}

.core-final div{
    align-content: center;
}

.core-final div input{
    height: 6vh;
    width: 18vw;
    color:white;
    background-color:black;
    border-radius: 0.7vh;
    border: none;
}

.core-main .time{
    width: 5.1vw;
}

.core-final{
    display: flex;
    flex-direction: row;
}

.core-final h3{
    margin-right: 1vw;
    font-size: 1.5vw;
}


.main-bottom{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.tickets{
    border: none;
    border-radius: 2vh;
    margin-top: 1vh;
    width: 7vw;
    height:12vh;
    margin-left: 1vw;
    background-color:black;
    color:white;
}

.tickets h3, .counter{
    justify-self: center;
    margin-bottom: 1vh;
    font-size: 2.5vh;
}

.counter input{
    width:3vw;
    background-color: #444;
    border: none;
    color: white;
    border-radius: .2vw;
    text-align: center;
}

.counter input:hover{
    border: #999 solid 2px;
    border-radius: .2vw;
}

input[type="number"]::-webkit-inner-spin-button {
    margin-left: -.9vw;
}

.tickets .general{
    margin-bottom: -3vh;
    margin-top: 1vh;
}

.rules{
    background-color: #000000;
    width: 18vw;
    margin-left: 2vh;
    margin-top: 1vh;
    border-radius: 2vh;
    align-items: center;
    display: flex;
}

.rules input{
    width: 5vw;
    height: 5vh;
    border: none;
    background-color: #eee;
    margin-left: 0.5vw;
    background-color: #000;
    color: white;
    font-size: 1.4vw;
    text-align: center;
}

.rules input::placeholder{
    font-size: 2.4vh;
    color: white;
    text-align: center;
}

.rules-title{
    margin-left: 2vw;
    align-self: center;
    font-size: 1.5vw;
}

.button-bottom{
    display: flex;
    justify-self: center;
    font-size: 3vh;
    border-radius: 1.873rem;
    border: none;
    margin-top: 2vw;
    background-color: #000;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 5vh;
    color: #fff;
}

.button-bottom:active{
    background-color: #444;
}








@keyframes hero-gradient-animation {
    0% {
        --x-0: 85%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --c-0: hsla(338.04878048780483, 100%, 91%, 1);
        --y-0: 80%;
        --c-1: hsla(285.2631578947368, 80%, 86%, 1);
        --s-start-1: 5%;
        --s-end-1: 72%;
        --x-1: 60%;
        --y-1: 24%;
        --y-2: 82%;
        --x-2: 13%;
        --c-2: hsla(261.8181818181818, 100%, 87%, 1);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 24%;
        --y-3: 7%;
        --c-3: hsla(230.24999999999997, 100%, 84%, 1);
        --s-start-4: 13%;
        --s-end-4: 68%;
        --x-4: 24%;
        --y-4: 7%;
        --c-4: hsla(214.44444444444443, 100%, 78%, 1);
    }

    100% {
        --x-0: 31%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --c-0: hsla(338.04878048780483, 100%, 91%, 1);
        --y-0: 94%;
        --c-1: hsla(285.2631578947368, 80%, 86%, 1);
        --s-start-1: 5%;
        --s-end-1: 72%;
        --x-1: 2%;
        --y-1: 25%;
        --y-2: 20%;
        --x-2: 98%;
        --c-2: hsla(261.8181818181818, 100%, 87%, 1);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 95%;
        --y-3: 92%;
        --c-3: hsla(230.24999999999997, 100%, 84%, 1);
        --s-start-4: 13%;
        --s-end-4: 68%;
        --x-4: 95%;
        --y-4: 92%;
        --c-4: hsla(214.44444444444443, 100%, 78%, 1);
    }
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(338.04878048780483, 100%, 91%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(285.2631578947368, 80%, 86%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(261.8181818181818, 100%, 87%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(230.24999999999997, 100%, 84%, 1)
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(214.44444444444443, 100%, 78%, 1)
}

body {
    --x-0: 85%;
    --c-0: hsla(338.04878048780483, 100%, 91%, 1);
    --y-0: 80%;
    --c-1: hsla(285.2631578947368, 80%, 86%, 1);
    --x-1: 60%;
    --y-1: 24%;
    --y-2: 82%;
    --x-2: 13%;
    --c-2: hsla(261.8181818181818, 100%, 87%, 1);
    --x-3: 24%;
    --y-3: 7%;
    --c-3: hsla(230.24999999999997, 100%, 84%, 1);
    --x-4: 24%;
    --y-4: 7%;
    --c-4: hsla(214.44444444444443, 100%, 78%, 1);
    ;
    background-color: hsla(228.97058823529406, 100%, 84%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal,normal;
}